In [11]:
import pyodbc
import pandas as pd

In [21]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            'Server=Vikunth;'
            'Database=DBDemo;'
            'Trusted_Connection=yes;')
cnxn = pyodbc.connect(cnxn_str)

In [22]:
cnxn

In [23]:
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM Customer')

In [9]:
for i in cursor:
    print(i)

(1, 'Hari', 'PO BOX 442 Troy')
(2, 'Ram', 'PO BOX 1000 NY')
(3, 'Sam', 'test address')
(4, 'siva', 'PO BOX 1000 CA')
(5, 'NULL', None)
(6, 'blank', '')

In [14]:
data =pd.read_sql('SELECT * FROM Customer',cnxn)

F:\Anaconda\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [24]:
data

   Customer_ID Customer_name      ADDRESS_Txt
0            1          Hari  PO BOX 442 Troy
1            2           Ram   PO BOX 1000 NY
2            3           Sam     test address
3            4          siva   PO BOX 1000 CA
4            5           SQL             None
5            6         blank

In [25]:
query = "update Customer set Customer_name='Roja' where Customer_ID = 6"

In [26]:
cursor.execute(query)

In [18]:
data =pd.read_sql('SELECT * FROM Customer',cnxn)

F:\Anaconda\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
data

   Customer_ID Customer_name      ADDRESS_Txt
0            1          Hari  PO BOX 442 Troy
1            2           Ram   PO BOX 1000 NY
2            3           Sam     test address
3            4          siva   PO BOX 1000 CA
4            5           SQL             None
5            6         blank

In [27]:
cnxn.commit()